.form-mainbody {
  height: 100vh;
  width: 100vw;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-reg-form {
  height: auto;
  width: 25%;

  background: rgba(255, 255, 255, 0.66);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.57);
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 50px;
  border-radius: 20px;
}

.login-reg-form h2 {
  text-align: center;
  font-family: poppins;
}
.login-reg-form p {
  text-align: center;
  font-weight: 500;
}

.login-reg-form p span {
  cursor: pointer;
  text-decoration: underline;
}
